/* You can add global styles to this file, and also import other style files */
.errorMovie{
    background: rgb(193, 45, 45);
    color: white;
    margin: 0 auto;
    padding: 1%;
    width: 30%;
}
.errorMovie img{
    margin-bottom: -2%;
}
mat-toolbar{
    background: #294b7038;
}
.topo{
    height: 64px;
}
.topo img{
    height: 100%;
}