<mat-toolbar>
  <div class="topo">
    <img [src]="logo">
  </div>
</mat-toolbar>


<div class="search">
    <p>Buscar filme: <input [(ngModel)]="searchMovie" #textbox type="text" placeholder="Digite o nome do filme" > <button class="busca" mat-raised-button  (click)="getMovies(textbox.value)">BUSCAR</button>
              <button class="clean" mat-raised-button  (click)="clear()">LIMPAR</button></p>
</div>

<div class="pagination" *ngIf="total > 0">
  <p class="total">Número de filmes encontrados: {{total}}</p>
  <!-- <span class="seta disabled"  (click)="backPage()" *ngIf="total > 10"><img id="back" src="assets/img/back.svg"></span>{{vetTam}} / {{total}}<span class="seta" (click)="nextPage()" *ngIf="total > 10"><img  id="next" src="assets/img/next.svg"></span> -->
</div>

<ngx-loading [show]="loading"></ngx-loading>

<p class="lista listMovie" *ngFor="let movie of movies | paginate: { itemsPerPage: 10, currentPage: p }">{{movie.Title}} <img src="assets/img/plus.svg" routerLink="/movie/{{movie.imdbID}}"></p>

<p *ngFor="let item of pages | paginate: { itemsPerPage: 10, currentPage: p }"></p>

<pagination-controls  *ngIf="total > 0" (pageChange)="p = $event"></pagination-controls>
 


    
